
html {
  height: 100%;
}

body {
  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

@media print {
  html, body {
    padding: 0 !important;
    margin: 0 !important;
  }
  app-image-library,
  app-toolbar {
    display: none !important;
  }
  .page {
    width: 210mm !important;
    height: 297mm !important;
    box-shadow: none !important;
    margin: 0 !important;
    break-after: avoid !important;
    break-inside: avoid !important;
    background: black !important;
  }
  .split,
  .pane,
  app-split-container {
    background: black !important;
  }
  .separator {
    background: black !important;
  }

  .photo-zone {
    background: black !important;
  }


  @page {
    size: A4 !important;
    margin: 0 !important;
  }

  .selectable.selected::after {
    display:none !important;
  }

  .placeholder {
    display: none !important;
  }
}
